
#deploymentList {
    width: 200px;
}

#panel-editor-setup {
    margin-top: 10px;
}

#panel-editor-list .item.active {
    color: #fff;
}

#panel-editor-config {
    min-height: 300px;
}

#panel-editor-config input[type="checkbox"][disabled] ~ label {
    opacity: 0.8;
}

#panel-editor-config a[disabled] {
    opacity: 0.8;
    pointer-events: none;
}

#panel-editor-config .ace_editor {
    opacity: 0.8;
    pointer-events: none;
}

#panel-editor-config .ace_editor .ace_cursor {
    display: none;
}